language: node_js
sudo: false

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-4.9
    - g++-4.9

matrix:
  include:
  - node_js: "6"
    env: REBUILD_FOR="1.4.10" ELECTRON="1.4.10"
  - node_js: "6"
    env: REBUILD_FOR="1.4.10" ELECTRON="1.4.8"
  - node_js: "6"
    env: REBUILD_FOR="1.4.10" ELECTRON="1.4.7"
  - node_js: "6"
    env: REBUILD_FOR="1.4.10" ELECTRON="1.4.6"
  - node_js: "6"
    env: REBUILD_FOR="1.4.10" ELECTRON="1.4.5"
  - node_js: "6"
    env: REBUILD_FOR="1.4.10" ELECTRON="1.4.4"
  - node_js: "6"
    env: REBUILD_FOR="1.4.10" ELECTRON="1.4.3"
  - node_js: "6"
    env: REBUILD_FOR="1.4.10" ELECTRON="1.4.2"
  - node_js: "6"
    env: REBUILD_FOR="1.4.10" ELECTRON="1.4.1"
  - node_js: "6"
    env: REBUILD_FOR="1.4.10" ELECTRON="1.4.0"
  - node_js: "6"
    env: REBUILD_FOR="1.3.12" ELECTRON="1.3.12"
  - node_js: "6"
    env: REBUILD_FOR="1.3.12" ELECTRON="1.3.10"
  - node_js: "6"
    env: REBUILD_FOR="1.3.12" ELECTRON="1.3.9"
  - node_js: "6"
    env: REBUILD_FOR="1.3.12" ELECTRON="1.3.8"
  - node_js: "6"
    env: REBUILD_FOR="1.3.12" ELECTRON="1.3.7"
  - node_js: "6"
    env: REBUILD_FOR="1.3.12" ELECTRON="1.3.6"
  - node_js: "6"
    env: REBUILD_FOR="1.3.12" ELECTRON="1.3.5"
  - node_js: "6"
    env: REBUILD_FOR="1.3.12" ELECTRON="1.3.4"
  - node_js: "6"
    env: REBUILD_FOR="1.3.12" ELECTRON="1.3.3"
  - node_js: "6"
    env: REBUILD_FOR="1.3.12" ELECTRON="1.3.2"
  - node_js: "6"
    env: REBUILD_FOR="1.3.12" ELECTRON="1.3.1"
  - node_js: "6"
    env: REBUILD_FOR="1.3.12" ELECTRON="1.3.0"
  - node_js: "6"
    env: REBUILD_FOR="1.2.8" ELECTRON="1.2.8"
  - node_js: "6"
    env: REBUILD_FOR="1.2.8" ELECTRON="1.2.7"
  - node_js: "6"
    env: REBUILD_FOR="1.2.8" ELECTRON="1.2.6"
  - node_js: "6"
    env: REBUILD_FOR="1.2.8" ELECTRON="1.2.5"
  - node_js: "6"
    env: REBUILD_FOR="1.2.8" ELECTRON="1.2.4"
  - node_js: "6"
    env: REBUILD_FOR="1.2.8" ELECTRON="1.2.3"
  - node_js: "6"
    env: REBUILD_FOR="1.2.8" ELECTRON="1.2.2"
  - node_js: "6"
    env: REBUILD_FOR="1.2.8" ELECTRON="1.2.1"
  - node_js: "6"
    env: REBUILD_FOR="1.2.8" ELECTRON="1.2.0"
  - node_js: "6"
    env: REBUILD_FOR="1.2.8" ELECTRON="1.1.3"
  - node_js: "6"
    env: REBUILD_FOR="1.2.8" ELECTRON="1.1.2"
  - node_js: "6"
    env: REBUILD_FOR="1.2.8" ELECTRON="1.1.1"
  - node_js: "6"
    env: REBUILD_FOR="1.2.8" ELECTRON="1.1.0"
  - node_js: "6"
    env: REBUILD_FOR="1.0.2" ELECTRON="1.0.2"
  - node_js: "6"
    env: REBUILD_FOR="1.0.2" ELECTRON="1.0.1"
  - node_js: "6"
    env: REBUILD_FOR="1.0.2" ELECTRON="1.0.0"
  - node_js: "6"
    env: REBUILD_FOR="1.0.2" ELECTRON="0.37.8"
  - node_js: "6"
    env: REBUILD_FOR="1.0.2" ELECTRON="0.37.7"
  - node_js: "6"
    env: REBUILD_FOR="1.0.2" ELECTRON="0.37.6"
  - node_js: "6"
    env: REBUILD_FOR="1.0.2" ELECTRON="0.37.5"
  - node_js: "6"
    env: REBUILD_FOR="1.0.2" ELECTRON="0.37.4"
  - node_js: "6"
    env: REBUILD_FOR="1.0.2" ELECTRON="0.37.3"
  - node_js: "6"
    env: REBUILD_FOR="1.0.2" ELECTRON="0.37.2"
  - node_js: "6"
    env: REBUILD_FOR="1.0.2" ELECTRON="0.37.1"
  - node_js: "6"
    env: REBUILD_FOR="1.0.2" ELECTRON="0.37.0"
  - node_js: "6"
    env: REBUILD_FOR="1.0.2" ELECTRON="0.36.12"
  - node_js: "6"
    env: REBUILD_FOR="1.0.2" ELECTRON="0.36.11"
  - node_js: "6"
    env: REBUILD_FOR="1.0.2" ELECTRON="0.36.10"
  - node_js: "6"
    env: REBUILD_FOR="1.0.2" ELECTRON="0.36.9"
  - node_js: "6"
    env: REBUILD_FOR="1.0.2" ELECTRON="0.36.8"
  - node_js: "6"
    env: REBUILD_FOR="1.0.2" ELECTRON="0.36.7"
  - node_js: "6"
    env: REBUILD_FOR="1.0.2" ELECTRON="0.36.6"
  - node_js: "6"
    env: REBUILD_FOR="1.0.2" ELECTRON="0.36.5"
  - node_js: "6"
    env: REBUILD_FOR="1.0.2" ELECTRON="0.36.4"
  - node_js: "6"
    env: REBUILD_FOR="1.0.2" ELECTRON="0.36.3"
  - node_js: "6"
    env: REBUILD_FOR="1.0.2" ELECTRON="0.36.2"
  - node_js: "6"
    env: REBUILD_FOR="1.0.2" ELECTRON="0.36.1"
  - node_js: "6"
    env: REBUILD_FOR="1.0.2" ELECTRON="0.36.0"
  - node_js: "6"
    env: REBUILD_FOR="0.35.6" ELECTRON="0.35.6"
  - node_js: "6"
    env: REBUILD_FOR="0.35.6" ELECTRON="0.35.5"
  - node_js: "6"
    env: REBUILD_FOR="0.35.6" ELECTRON="0.35.4"
  - node_js: "6"
    env: REBUILD_FOR="0.35.6" ELECTRON="0.35.3"
  - node_js: "6"
    env: REBUILD_FOR="0.35.6" ELECTRON="0.35.2"
  - node_js: "6"
    env: REBUILD_FOR="0.35.6" ELECTRON="0.35.1"
  - node_js: "6"
    env: REBUILD_FOR="0.35.6" ELECTRON="0.35.0"
  - node_js: "6"
    env: REBUILD_FOR="0.35.6" ELECTRON="0.34.5"
  - node_js: "6"
    env: REBUILD_FOR="0.35.6" ELECTRON="0.34.4"
  - node_js: "6"
    env: REBUILD_FOR="0.35.6" ELECTRON="0.34.3"
  - node_js: "6"
    env: REBUILD_FOR="0.35.6" ELECTRON="0.34.2"
  - node_js: "6"
    env: REBUILD_FOR="0.35.6" ELECTRON="0.34.1"
  - node_js: "6"
    env: REBUILD_FOR="0.35.6" ELECTRON="0.34.0"
  - node_js: "6"
    env: REBUILD_FOR="0.35.6" ELECTRON="0.33.9"
  - node_js: "6"
    env: REBUILD_FOR="0.35.6" ELECTRON="0.33.8"
  - node_js: "6"
    env: REBUILD_FOR="0.35.6" ELECTRON="0.33.7"
  - node_js: "6"
    env: REBUILD_FOR="0.35.6" ELECTRON="0.33.6"
  - node_js: "6"
    env: REBUILD_FOR="0.35.6" ELECTRON="0.33.5"
  - node_js: "6"
    env: REBUILD_FOR="0.35.6" ELECTRON="0.33.4"
  - node_js: "6"
    env: REBUILD_FOR="0.35.6" ELECTRON="0.33.3"
  - node_js: "6"
    env: REBUILD_FOR="0.35.6" ELECTRON="0.33.2"
  - node_js: "6"
    env: REBUILD_FOR="0.35.6" ELECTRON="0.33.1"
  - node_js: "6"
    env: REBUILD_FOR="0.35.6" ELECTRON="0.33.0"
  - node_js: "6"
    env: REBUILD_FOR="0.32.3" ELECTRON="0.32.3"
  - node_js: "6"
    env: REBUILD_FOR="0.32.3" ELECTRON="0.32.2"
  - node_js: "6"
    env: REBUILD_FOR="0.32.3" ELECTRON="0.32.1"
  - node_js: "6"
    env: REBUILD_FOR="0.32.3" ELECTRON="0.32.0"
  - node_js: "6"
    env: REBUILD_FOR="0.32.3" ELECTRON="0.31.2"
  - node_js: "6"
    env: REBUILD_FOR="0.32.3" ELECTRON="0.31.1"
  - node_js: "6"
    env: REBUILD_FOR="0.32.3" ELECTRON="0.31.0"
  - node_js: "6"
    env: REBUILD_FOR="0.30.8" ELECTRON="0.30.8"
  - node_js: "6"
    env: REBUILD_FOR="0.30.8" ELECTRON="0.30.7"
  - node_js: "6"
    env: REBUILD_FOR="0.30.8" ELECTRON="0.30.6"
  - node_js: "6"
    env: REBUILD_FOR="0.30.8" ELECTRON="0.30.5"
  - node_js: "6"
    env: REBUILD_FOR="0.30.8" ELECTRON="0.30.4"
  - node_js: "6"
    env: REBUILD_FOR="0.30.8" ELECTRON="0.30.3"
  - node_js: "6"
    env: REBUILD_FOR="0.30.8" ELECTRON="0.30.2"
  - node_js: "6"
    env: REBUILD_FOR="0.30.8" ELECTRON="0.30.1"
  - node_js: "6"
    env: REBUILD_FOR="0.30.8" ELECTRON="0.30.0"

before_install:
  - export DISPLAY=':99.0'
  - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
  - test "$(uname)" = "Darwin"  || export CXX=g++-4.9 CC=gcc-4.9

install:
  - npm install electron-prebuilt@${ELECTRON}
  - npm install --runtime=electron --target=${REBUILD_FOR} --disturl=https://atom.io/download/electron

script: ELECTRON_RUN_AS_NODE=1 node_modules/electron-prebuilt/cli.js examples/smoketest.js
